<nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
  <span class="text-sm font-normal text-gray-500 ">
    Mostrando
    <span class="font-semibold text-gray-900 ">{{getDesdeHasta()}}</span>
    de
    <span class="font-semibold text-gray-900 ">{{total}}</span>
  </span>
  <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
    <li>
      <a class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 ">
        Anterior
      </a>
    </li>
    @for (item of getPaginas(); track $index) {
      <li>
        <a [ngClass]="$index === page - 1 ? currentPageStyle : pageStyle">
          {{item}}
        </a>
      </li>
    }
    <li>
      <a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 ">
        Siguiente
      </a>
    </li>
  </ul>
</nav>
