<div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl">
  <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-64">
    <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=927&amp;q=80" alt="card-image">
  </div>
  <div class="p-6">
    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
      <li class="font-bold text-black">
        Titulo
      </li>
      <li class="font-bold text-black">
        Usuario
      </li>
      <li>
        Fecha de prestamo: 12/09/2021
      </li>
      <li>
        Fecha de devolución: 12/10/2021
      </li>
      <li>
        Estado: Activo
      </li>
    </ul>
  </div>
  <div class="p-6 pt-0">
    <button class="text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 " type="button">Devuelto</button>
    <button class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 " type="button">Amonestar</button>
  </div>
</div>